# Hugo output
/public/
/resources/_gen/

# Hugo internal
.hugo_build.lock
.hugo_cache/

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Node tooling
node_modules/

# Env / secrets
.env*

# Deployment
/deploy.sh